body {
    background-image: url(assets/Sfondo2.png);
    background-size: cover;
}

.background-image {
    background-image: url(assets/Jumbo2.jpg);
    background-size: cover;
}

.nameFont {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.contenitoreWeek {
    overflow: hidden;
    position: relative;
    height: 250px;
    img {
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
}

.contenitoreSummer {
    overflow: hidden;
    position: relative;
    height: 250px;
    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
    }
}

.overflow {
    overflow: hidden;
    font-size: 11px;
    
}

.text-bordered {
    // -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    text-shadow: 1px 1px 0 #000;
    font-size: 0.9vw;
}

@media only screen and (max-width: 390px)  {
    .pReduce {
        font-size: 10px;
    }
    #lastMinute h5 {
        font-size: 10px;
    
    }
    
    #lastMinute button {
        font-size: 10px;
    }
}

@media only screen and (max-width: 820px) {
    #dailyOffer, #lastMinute p  {
        display: none;
    }
    // #lastMinute p {
    //     display: none;
    // }
}

